.venv/
__pycache__/
.ipynb_checkpoints/
data/raw/*
data/processed/*
.DS_Store
**/lightning_logs/
# Ignore all PyTorch model weights
*.pt
*.pth

# If you want to ignore everything inside the models folder
models/

logs/